<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AspNetBase.Presentation.Spa - @ViewData["Title"]</title>

    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
    </environment>
    @RenderSection("ScriptsHead", required: false)
</head>

<body>
    <header>
      @await Html.PartialAsync("_Header")
    </header>

    <main role="main" class="container">
        <h2 class="mt-3 mb-3">@ViewData["Title"]</h2>
        @RenderBody()
    </main>

    <div id="app-layout-scripts">
      <environment names="Development">
          <script src="~/dist/app.bundle.js"></script>
      </environment>
      <environment names="Staging,Production">
          <script src="~/dist/app.bundle.js" asp-append-version="true"></script>
      </environment>

      <div id="app-section-scripts">
        @RenderSection("scripts", required: false)
      </div>
    </div>
</body>
</html>
