@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<hr>

<h2>Logged in User Claims</h2>
<ul>
  @foreach(var claim in User.Claims)
  {
    <li><strong>(@claim.Type):</strong> @claim.Value</li>
  }
</ul>
<p>Is user in system administrator role: @ViewBag.IsInAdmin</p>
<p>Is User.IsInRole true for system administrator role: @User.IsInRole("SystemAdministrator")</p>
