<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @AppSettings.Name</title>

    <partial name="_StylesPartial" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <partial name="_TopNavPartial" />
    <partial name="_CookieConsentPartial" />

    <main class="container">
        @RenderBody()

        <hr />
        <footer>
          <div class="row">
            <div class="col-md-6 text-left">
              <p>@DateTime.Now.Year - @AppSettings.Name</p>
            </div>
            <div class="col-md-6 text-right">
              <partial name="_SelectLanguagePartial" />
            </div>
          </div>
        </footer>
    </m>

    <partial name="_ScriptsPartial" />
    <div id="app-section-scripts">
      @RenderSection("Scripts", required: false)
    </div>
</body>
</html>
