<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">

  <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@AppSettings.Name</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#topNavbar"
    aria-controls="topNavbar"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="topNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">@Localizer["About"]</a></li>
      <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a></li>
      <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-page="/Users/Index">@Localizer["Users"]</a></li>
      <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-page="/Roles/Index">@Localizer["Roles"]</a></li>
      <li class="nav-item"><a class="nav-link" asp-area="" asp-page="/Spa">@Localizer["Spa (React)"]</a></li>
    </ul>
    <partial name="_LoginPartial" />
  </div>

</nav>
